body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
  }

  #numberOfBombs{
    color: #f10505;
  }
  
  h1 {
    color:rgb(51, 51, 53) ;
    margin-top: 30px;
    font-style: times;
  }

h1{
    color: antiquewhite;
}

  
  #board {
    margin: 20px auto;
    border-collapse: collapse;
    display: on ;
    border-color: #625a5c;
    color: #6d92b6
  
  }
  
  td {
    color: rgba(255, 255, 255, 0.728);
    width: 50px;
    height: 50px;
    border: solid rgb(130, 128, 128);
    border:
    3px      
    solid    
    rgb(95, 121, 162);  
    
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
  }

td.opened {
    background-color: #b1aeae; 
   
}

td:hover:not(.opened) {
    background-color: rgba(164, 163, 165, 0.979);
}

td:active:not(.opened) {
    background-color: rgb(152, 146, 146);
    
}

td {
width:30px;
height:30px;
}
#board4x4{
    background-color: aquamarine;
  
}
#board5x5{
    background-color: blanchedalmond ;
}
#board6x6{
    background-color: rgb(154, 145, 145)
}
.opened-cell {
    background-color: rgb(144, 144, 144); 
}
.sign-wrap-4 {
    background: 6d92b6;
    text-align: center;
    padding: 50px 10px;
}
.sign-wrap-4 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #072843, 0 0 0.5em #157cd1, 0 0 0.1em #7095b3;
}
.sign-wrap-4 .sign_word span {
    animation: neon-4 linear infinite 2s;
}
@keyframes neon-4 {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79%{
        color: #0b3960;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #0b3960;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #0b3960;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}
@import url("https://fonts.googleapis.com/css?family=Raleway");

